<form accept-charset="UTF-8" action="/lookup" class="formtastic user" id="new_user" method="post" novalidate="novalidate" style="margin:20px 0px;"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <fieldset class="inputs">
  	<div class="input-prepend">
	  <span class="add-on">@</span>
	  <input class="span2" id="user_twitter" name="twitter" type="text" placeholder="Enter a Username">
	</div>
	</fieldset> 
	<div class="actions">
    <input class="btn-primary btn commit create" name="commit" type="submit" value="Look Up User">
	</div>
</form>